
h1 {
  color: #505061
}

.screen-container {
 display: flex;
 width: 100vw;
 height: 100vh;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: #E6E6F2;
}

.video-container {
  display: flex;
  background-color: black;
}

.video-wrapper {
  justify-content: center;
  display: flex;
  width: 1280px;
  height: 720px;
  border: solid grey 1px;
  border-radius: 5px;
  background-color: black;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-wrapper svg {
  width: 50px;
  height: 50px;
  margin: 0 30px;
  cursor: pointer;
}